// Place all the styles related to the shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar{
  float: left;
  with: auto;
  font-size: 15px;
  outline: 2px dotted #FF0505;
  outline-offset: 0px;
  margin: 10px;

}

.petslist{
  float: right;
  with: auto;
  font-size: 20px;
  outline: 2px dotted #0F0505;
  outline-offset: 0px;
  margin: 10px;
}