<h1>Shelter</h1>
<h1>Hey, look it's a shelter</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="the_pets">
    <%= render(@pets) %>
  </tbody>
</table>
