<% if @cart.selected_pets.length > 0 %>
<h1>Your Sack of Pets</h1>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th> 
      <th>Picture</th> 
      <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody id="the_cart">
    <%= render(cart.selected_pets) %>
  </tbody>
</table>
<br>
<%= button_to 'Empty this Cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>