<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
<br>
<% if @bank.dollars.count < 1 %>
	<p> This bank is empty </p>

<% else %>
	<table>
		<thead>
			<tr>
				<th>President</th>
				<th>Value</th>
				<th>Condition</th>
			</tr>
		</thead>
		<tbody>
			<% @dollars.each do |dollar| %>
			<tr>
				<td><%= dollar.president %></td>
				<td><%= dollar.value %></td>
				<td><%= dollar.condition %></td>
				<td><%= link_to 'Show', [@bank, dollar] %></td>
				<td><%= link_to 'Edit', edit_bank_dollar_path(@bank, dollar) %></td>
				<td><%= link_to 'Destroy', [@bank, dollar], method: :delete, data: {confirm: 'Are you sure?'} %></td>
			</tr>
			<%end%>
		</tbody>
	</table>
<%end%>
<%= link_to 'Deposit Dollar', new_bank_dollar_path(@bank) %>