<%= form_for(@dollar) do |f| %>
  <% if @dollar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dollar.errors.count, "error") %> prohibited this dollar from being saved:</h2>

      <ul>
      <% @dollar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :president %><br>
    <%= f.text_field :president %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
