<p id="notice"><%= notice %></p>

<h1>Listing Dollars</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Condition</th>
      <th>President</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dollars.each do |dollar| %>
      <tr>
        <td><%= dollar.value %></td>
        <td><%= dollar.condition %></td>
        <td><%= dollar.president %></td>
        <td><%= link_to 'Show', dollar %></td>
        <td><%= link_to 'Edit', edit_dollar_path(dollar) %></td>
        <td><%= link_to 'Destroy', dollar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dollar', new_dollar_path %>
