<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @dollar.value %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @dollar.condition %>
</p>

<p>
  <strong>President:</strong>
  <%= @dollar.president %>
</p>

<%= link_to 'Edit', edit_dollar_path(@dollar) %> |
<%= link_to 'Back', dollars_path %>
