/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/* 
	SAS requirements
	partials below this comment block
	variables below that.
	nesting is within the header{} block
	mix in declaration below the variables
	mix ins used in the header (3x), and the footer(1x)
	inheritance used in .content{}
	operator used in header{}
*/

@import "_other.scss";

/* color variables */
$light-grey : #566666;
$grey : #666666;
$dark-grey : #766666;
$contentFont : tahoma;

/* mixin for background and font customization */
@mixin setupDiv($alignment, $color){
	
	text-align : $alignment;
	background : $color;
}
@mixin fontType($face, $size){
	font:{
		face: $face;
		size: $size;
	}

}

/*nested, an operator and one mixin*/
header{
	height : 90 + 10;
	@include fontType(Veranda, 50);
	@include setupDiv(center, $light-grey);
	.button{
		@include fontType(Tahoma, 30);
		display: inline;
		border-radius: 10px;
		@include setupDiv(right, #FFFFFF);

	}
}
/* second use of the mixin*/
footer{
	position : absolute;
	left : 0;
	bottom : 0;
	width : 100%;
	@include setupDiv(center, $grey);
}

/*inherits body fonts*/
.content{
	@extend body;
	position : absolute;
	width : 50%;
	left : 0;
	right : 50%;
	top : 100;
}

.sideBar{
	background : $dark-grey;
	position : absolute;
	width : 30%;
	font : $contentFont;
	right : 0;
	left : 70%;
	top : 100;
}
