<!DOCTYPE html>
<html>
<head>
  <title>Unit10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "shared/header" %>

	<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

	<%= render :partial => "shared/footer" %>
</body>
</html>
