<% content_for :content do %>
	<div id = "wrapper">
		<div class = "sidebar">
			<%= render @cart %>
		</div>
		<div class = "petslist">
			<%= yield %>
		</div>
	</div>

<% end %>

<%= render template: "layouts/application" %>