<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>


<br>

<h1>Your Sack of Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selected_pets.each do |selection| %>
      <tr>
        <td><%= selection.pet.name %></td>
        <td><%= selection.pet.age %></td>
        <td><%= selection.pet.description %></td>
        <td><%= selection.pet.pet_type %></td>
        <td><%= link_to 'Show', selection.pet %></td>
        <td><%= link_to 'Remove Cat', selection.pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Leave Sack in Park', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>