	
	<tr>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.description %></td>
        <td><%= pet.pet_type %></td>
        <td><%= image_tag pet.picture , {height: 100}%></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Remove', pet, method: :delete %></td>
        <td><%= button_to 'Select Pet', selected_pets_path(pet_id: pet), remote: true %></td>
	</tr>