<h1>Shelter#index</h1>
<h1>Hey, look it's a shelter</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.description %></td>
        <td><%= pet.pet_type %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Select Pet', selected_pets_path(pet_id: pet) %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<p>Find me in app/views/shelter/index.html.erb</p>
