.sideBar {
	height: 500px;
    width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #DDDDDD;
}
.contentArea {
    height: 500px;
    width: 700px;
	position: absolute;
	top: 0px;
	left: 200px;
	bottom: 0px;
	background-color: #CF0000;
}
.question{
	height: 50px;
    width: 500px;
	top: 75px;
	left: 25px;
	background-color: #FFFFFF;
	margin: auto;
}

.answer{
	height: 100px;
    width: 500px;
	margin: auto;
	background-color: #FFFFFF;
}

.topicList{
	height: 100px;
    width: 500px;
	margin: auto;
	background-color: black;

}

.topic{
	height: 50px;
    width: 75px;
	margin: auto;
	background-color: #00FFFF;
	display: inline-block;
	border-radius: 10px;

}