


	<tr>
        <td><%= selected_pet.pet.name %></td>
        <td><%= selected_pet.pet.age %></td>
        <td><%= selected_pet.pet.description %></td>
        <td><%= selected_pet.pet.pet_type %></td>
        <td><%= image_tag selected_pet.pet.picture , {height: 100}%></td>
        <td><%= link_to 'Show', selected_pet.pet %></td>
        <td><%= button_to 'Remove Pet', selected_pet, method: :delete %></td>
    </tr>